form{
    position: initial;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    text-align: unset ;
    width: 900px;
}

input {
    width: 50%;
    border: 3px solid #555;
}

 
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: both;
}

select {
    width: 50%;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
    font-size: 14px
}