<div>
  <H1>¡Dejanos tu comentario o propuesta!</H1>
</div>
<br>
<div>
  <form action="/nosotros"> 
    <div class="form-group">
        <label for="nombreyapellido">Nombre y Apellido</label>
        <input type="text" class="form-control" id="nombreyapellido" minlength="3" autofocus required placeholder="Escribe aquí">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Correo Electrónico</label>
        <input type="text" class="form-control" id="exampleInputEmail1" required placeholder="ejemplo@ejemplo.com">
        <small id="emailHelp" class="form-text text-muted" >Tu correo electrónico no será compartido con nadie.</small>
    </div>
    <div>
      <label for="fechaDeNacimiento">Indicá tu Fecha de Nacimiento</label><br>
      <input type="date" name="bday" max="2000-01-01">
      <small id="dateHelp" class="form-text text-muted">Éste servicio está disponible para mayores de 18 años.</small>
    </div><br>
    <div>
      <div class="form-group">
        <label for="sel1">Razón de contacto</label>
        <select class="form-control" id="sel1" required>
          <option>Comentario</option>
          <option>Reclamo</option>
        </select>
      </div>
    </div>
    <div>
      <textarea maxlength="200" name="" id="" placeholder="Escribe aquí"></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value= Enviar>
</form>
</div>